@model IEnumerable<MyApp.Models.Appointment>


<table class="">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentClient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryService.Name)
            </th>
            <th>
                <p>
                    <a asp-action="Create">Create New</a>
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentClient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AppointmentDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryService.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.AppointmentId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AppointmentId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.AppointmentId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
